.gameCanvas{

    border: 5px solid $shamrock;
    height: 400px;
    width: 400px;
    max-width: 100%;
    aspect-ratio: 1;

    &_inactive{
        cursor: not-allowed;
        pointer-events: none;
        border-color: $claret;
        border-width: 5px;
    }

    &__mobileButton{
        display: none;
    }

}

@media screen and (max-width: $tabletWidthMax) {

}